// サイトで使用する色を定義
$white: #fff;
$black: #000;
$cl-black: #333;
$bg-dark: #4a4a4a;
$bg-middle: #a98c5f;
$bg-light: #fafafa;
$cl-border: #808080;
$bg-gray-l: #6f6f6f;


$text-m:#e2a109e8;
$bg-color1:#4e412dbc;
$bg-color2:#6d4419ad;
$bg-color3:#4d4136;


$color-main: #9ed0e0;
$color-DBlue: #67b0c7;
$color-BGray: #cce1e4;
$color-LBlue: #e9f6f8;
$color-Red: #ce2073;
$color-Yellow: #ffee56;
$color-DGray: #cccccc;
$color-Gray: #f5f5f5;
$color-White: #ffffff;
$color-base: #4a3636;